{% extends 'movie/base.html' %}
{% block content %}
<h1 class="text-3xl font-bold text-center mt-8">{{ subscription.name }}</h1>
<div class="lg:mx-12 lg:my-12 my-8 grid lg:grid-cols-3 grid-cols justify-center items-center">

    <div
        class="w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
        <h5 class="mb-4 text-xl font-medium text-gray-500 dark:text-gray-400">Monthly Price</h5>
        <div class="flex items-baseline text-gray-900 dark:text-white">
            <span class="text-3xl font-semibold">$</span>
            <span class="text-5xl font-extrabold tracking-tight">{{ monthly_price }}</span>
            <span
                class="ms-1 text-xl font-normal text-gray-500 dark:text-gray-400">/month</span>
        </div>
        <form class="mt-8" action="{% url 'subscription:checkout' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="subscription_id" value="{{ subscription.id }}">
            <input type="hidden" name="duration" value="monthly">
            <input type="hidden" name="price" value="{{ semi_annual_price }}">
            <button
            class="text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-200 dark:focus:ring-blue-900 font-medium rounded-lg text-sm px-5 py-2.5 inline-flex justify-center w-full text-center"
            type="submit">Subscribe Semi-Annually</button>
        </form>
    </div>

    <div
        class="w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
        <h5 class="mb-4 text-xl font-medium text-gray-500 dark:text-gray-400">Semi-Annual Price</h5>
        <div class="flex items-baseline text-gray-900 dark:text-white">
            <span class="text-3xl font-semibold">$</span>
            <span class="text-5xl font-extrabold tracking-tight">{{ semi_annual_price }}</span>
            <span
                class="ms-1 text-xl font-normal text-gray-500 dark:text-gray-400">/half year</span>
        </div>
        <form class="mt-8" action="{% url 'subscription:checkout' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="subscription_id" value="{{ subscription.id }}">
            <input type="hidden" name="duration" value="semi_annual">
            <input type="hidden" name="price" value="{{ semi_annual_price }}">
            <button
            class="text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-200 dark:focus:ring-blue-900 font-medium rounded-lg text-sm px-5 py-2.5 inline-flex justify-center w-full text-center"
            type="submit">Subscribe Semi-Annually</button>
        </form>
    </div>

    <div
        class="w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
        <h5 class="mb-4 text-xl font-medium text-gray-500 dark:text-gray-400">Annual Price</h5>
        <div class="flex items-baseline text-gray-900 dark:text-white">
            <span class="text-3xl font-semibold">$</span>
            <span class="text-5xl font-extrabold tracking-tight">{{ annual_price }}</span>
            <span
                class="ms-1 text-xl font-normal text-gray-500 dark:text-gray-400">/year</span>
        </div>
        <form class="mt-8" action="{% url 'subscription:checkout' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="subscription_id" value="{{ subscription.id }}">
            <input type="hidden" name="duration" value="annual">
            <input type="hidden" name="price" value="{{ annual_price }}">
            <button
            class="text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-200 dark:focus:ring-blue-900 font-medium rounded-lg text-sm px-5 py-2.5 inline-flex justify-center w-full text-center"
            type="submit">Subscribe Annually</button>
        </form>
    </div>

</div>
{% endblock %}