{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description"
            content="Explore a comprehensive list of movies with ratings, reviews, and details on Movie List Page.">
        <meta name="keywords"
            content="movies, film list, movie ratings, movie reviews">
        <title>Movie List Page</title>
        <!-- Tailwind CSS -->
        <link
            href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
            rel="stylesheet">
        <!-- Fontawesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>
        <!-- Navigation Bar -->
        <header class="shadow-md">
            <nav class="flex justify-between items-center mx-16 py-5">
                <div>
                    <a href="{% url 'movies:movie_list' %}">
                        <img class="w-32" src="{% static 'logo.png' %}"
                            alt="movie shop" />
                    </a>
                </div>
                <div class="hidden md:block">
                    <ul class="flex items-center gap-4 text-sm font-semibold">
                        <li><a class="hover:text-gray-500" href>GERNES</a></li>
                        <li><a class="hover:text-gray-500" href>YEARS</a></li>
                        <li><a class="hover:text-gray-500" href>MOST POPULAR</a></li>
                        <li><a class="hover:text-gray-500" href>NEW MOVIES</a></li>
                        <li><a class="hover:text-gray-500" href>TV SERIES</a></li>
                    </ul>
                </div>
                <div class="md:hidden">
                    <button id="sidebarToggle"
                        class="text-gray-500 focus:outline-none">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6"
                            fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
                        </svg>
                    </button>
                </div>
                <div class="hidden md:block">
                    <!--Search Bar-->
                    <form class="relative">
                        <input type="text" placeholder="Search movies"
                            class="pl-10 pr-3 py-1 border rounded-md focus:outline-none focus:border-blue-500" />
                        <span class="absolute right-3 py-2">
                            <button type="submit" class="text-gray-500 focus:outline-none">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <circle cx="11" cy="11" r="8" />
                                    <line x1="21" y1="21" x2="16.65" y2="16.65" />
                                </svg>
                            </button>
                        </span>
                    </form>
                </div>
            </nav>
            <div id="sidebar"
                class="md:hidden fixed inset-0 bg-white shadow-lg z-50 transform -translate-x-full transition duration-300 ease-in-out">
                <div
                    class="flex justify-between items-center bg-gray-200 px-4 py-2">
                    <div>
                        <img class="w-32" src="{% static 'logo.png' %}"
                            alt="movie shop" />
                    </div>
                    <button id="sidebarClose"
                        class="text-gray-500 focus:outline-none">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6"
                            fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                        </svg>
                    </button>
                </div>
                <ul class="mt-4">
                    <li><a
                            class="block py-2 px-4 text-gray-700 hover:bg-gray-200"
                            href>Movies</a></li>
                    <li><a
                            class="block py-2 px-4 text-gray-700 hover:bg-gray-200"
                            href>TV Shows</a></li>
                    <li><a
                            class="block py-2 px-4 text-gray-700 hover:bg-gray-200"
                            href>Rent/Purchase</a></li>
                    <li><a
                            class="block py-2 px-4 text-gray-700 hover:bg-gray-200"
                            href>My Library</a></li>
                    <li><a
                            class="block py-2 px-4 text-gray-700 hover:bg-gray-200"
                            href>Account Settings</a></li>
                    <li><a
                            class="block py-2 px-4 text-gray-700 hover:bg-gray-200"
                            href>Extras</a></li>
                </ul>
            </div>
        </header>
        {% block content %}

        {% endblock %}

        <script>
            document.getElementById('sidebarToggle').addEventListener('click', function () {
                document.getElementById('sidebar').classList.toggle('-translate-x-full');
            });
        
            document.getElementById('sidebarClose').addEventListener('click', function () {
                document.getElementById('sidebar').classList.toggle('-translate-x-full');
            });
        </script>
        <!-- Bootstrap JavaScript and dependencies -->
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    </body>

</html>
