{% extends 'movie/base.html' %}

{% block content %}
<div class="mx-4 md:mx-8 lg:mx-16 my-4 md:my-6 lg:my-8">
    <!-- Search form -->
    <form method="GET" action="{% url 'movies:popular_movies_list' %}" class="mb-6">
      <div class="flex items-center border-b border-b-2 border-gray-300 py-2">
        <input type="text" name="q" placeholder="Search popular movies" class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none">
        <button type="submit" class="flex-shrink-0 bg-blue-500 hover:bg-blue-700 border-blue-500 hover:border-blue-700 text-sm border-4 text-white py-1 px-2 rounded">Search</button>
      </div>
    </form>
  
    <!-- Display movies based on search results -->
    {% if query %}
      <h2 class="font-bold text-lg md:text-xl lg:text-2xl my-4 md:my-6 lg:my-8">Search results for '{{ query }}'</h2>
    {% else %}
      <h2 class="font-bold text-lg md:text-xl lg:text-2xl my-4 md:my-6 lg:my-8">All MOST POPULAR</h2>
    {% endif %}
  <div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-6 gap-4 md:gap-6 lg:gap-8">
    {% for movie in popular_movies %}
    <div class="max-w-xs rounded overflow-hidden shadow-lg">
      <img class="w-full" src="{{ movie.image.url }}" alt="Movie Poster">
      <div class="px-3 py-2">
        <div class="font-bold text-sm"><a href="{% url 'movies:movie_detail' movie.pk %}">{{ movie.title }}</a></div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
